# --------------------
# Python bytecode / cache
# --------------------
__pycache__/
*.py[cod]
*.pyo

# --------------------
# Virtual environments
# --------------------
.env
env/
venv/
.venv/

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# --------------------
# OS / Editor files
# --------------------
.DS_Store
Thumbs.db
.vscode/

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Streamlit
# --------------------
.streamlit/

# --------------------
# Project outputs (generated)
# --------------------
Output/
