# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Environment
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# VSCode
.vscode/

# Data files (if you don’t want to upload raw data)
# data/
