# --------------------
# Python cache
# --------------------
__pycache__/
*.py[cod]

# --------------------
# Virtual environments
# --------------------
env/
venv/
.venv/

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# --------------------
# OS / Editor
# --------------------
.DS_Store
Thumbs.db
.vscode/

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Streamlit
# --------------------
.streamlit/
